@import "tailwindcss";

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    min-width: fit-content;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    z-index: 1000;
}
.dropdown-menu.active {
    display: block;
}
.dropdown {
    position: relative;
}

@layer components {
    @tailwind components;
}

@layer utilities {
    @tailwind utilities;
}

@theme {
    --color-cyaan: #0d8872;
    --color-bruin: #b53636;
    --color-blauw: #0082fd;
    --color-grijs: #9a9a9a;
    --color-zwart: #131313;
    --color-rood: #ff0000;
    --color-wit: #ffffff;
}