name: FastAPI CI

on:
    push:
        branches: [ "main", "feature/api" ]
    pull_request:
        branches: [ "main" ]

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: true
            matrix:
                python-version: ["3.10", "3.11", "3.12", "3.13"]

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                python-version: ${{ matrix.python-version }}
                cache: 'pip'

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install pylint pytest httpx
                if [ -f ./api/requirements.txt ]; then pip install -r ./api/requirements.txt; fi

            - name: Analysing the code with pylint
              run: |
                pylint $(git ls-files '*.py') --fail-under=8.0

            - name: Run tests with Pytest
              run: |
                pytest